pyinstaller
PyQt5
Pillow
plotly>=5.0.0
numpy
pandas
scipy
scikit-learn
matplotlib  
seaborn
openpyxl
xlrd
xlwt
statsmodels
requests
beautifulsoup4
lxml
tqdm
pytest
pytest-cov
pytest-qt
sphinx
sphinx-rtd-theme
myst-parser
pre-commit
black   
flake8
isort
autopep8
pylint
pylint-exit
pylint-flask
pylint-flask-sqlalchemy
pylint-flask-wtf
pylint-plugin-utils